<form action="/api/session" method="post">
  <%= auth_token %>
  <label>Email
    <input type="text" name="user[email]" />
  </label>
  <br>
  <label>Password
    <input type="text" name="user[password]" />
  </label>
  <br>

  <button>Log in</button>

</form>
