div.loginform {
  text-align: center;
}

div.loginform input, div.loginform button, a.demo-user {
   background-color: lightblue;
   border-radius: 5px;
   font-size: 16px;
   margin: 5px;
   padding: 3px;
}

a.demo-user {
  display: block;
}

div.loginform button, a.demo-user {
  font-size: 10px;
  background-color: #232261;
  padding: 0 15px;
}

div.loginform input{
  width: 80%;
  margin: auto;
}

.error-text {
  color: tomato;
}

div.loginform p {
  margin: 0;
}

div.loginform .about {
  position: absolute;
  background-color: transparent;
  color: #232261;
  right: 0px;
  top: 10px;
  font-size: 23px;
}
div.loginform .about:hover {
  background-color: transparent;
  color: #E11567;

}

div.loginform span {
  font-size: 10px;
}

div.loginform img {
  margin: auto;
  height: auto;
  width: 100%;
  padding: 10px 50px;;
  box-sizing: border-box;
}

div.loginform h1 {
  margin: auto;
}

div.loginform h2 {
  font-size: 12px;
}
