html, body {
  height: 100%;
  color: #232261;
}
body {
  overflow: hidden;
}

.notes {
  height: 100%;
}

.main-view, .status-bar {
  margin-left: 60px;
}
.main-view.fullscreen, .status-bar.fullscreen {
  margin-left: 0px;
}

.status-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}



.tiny-spinner{
  height: 13px;
  width: 13px;
  font-size: 13px;
  color: #9E1E62;
}
.left-pane {
  position: absolute;
  left: 73px;
  width: 335px;
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
  height: 100%;
}
.index-item-container {
  position: relative;
  height: calc(100% - 120px);
  overflow-x: hidden;
}

.sliding-pane {
  -webkit-transition: left 0.25s ease-in-out;
  -moz-transition: left 0.25s ease-in-out;
  -o-transition: left 0.25s ease-in-out;
  transition: left 0.25s ease-in-out;
}
.tiny-spinner.note-tags{
  position: absolute;
  left: 210px;
  bottom: 5px;
}
