
div.modal-bg {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  cursor: default;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
}
.modal.new-notebook-form {
}

div.modal {
  position: fixed;
  width: 300px;
  left: calc(50% - 150px);
  top: 100px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #808080;
  background-color: white;
  padding: 5px;
  z-index: 19;
}

div.modal.about-modal {
  width: 500px;
  left: calc(50% - 250px);
  padding: 10px;
}
div.modal div {
  margin: auto;
}
.modal-spinner-image {

}
div.modal.spinner{
  font-size: 80px;
  color: #232261;
}
.modal button, .demo-user {
  font-size: 13px;
  font-weight: 500;
  height: 28px;
  color: white;
  outline: none;
  border-radius: 4px;
  background-color: #232261;
  padding-left: 15px;
  padding-right: 15px;
  margin: 8px;
}
.modal input{
  border: 1px solid #232261;

  display: block;
  margin: auto;
}
button.close-warning {
  display: block;
  margin: 10px auto;
}
.modal #hide-warning {
  display: inline;
}
.confirm-encrypt label {

}
