.note-form.header {
  width: 60%;
  height: 50px;
  top: -100px;
  left: 20%;
  padding-top: 30px;
}
.note-form.edit.header {
  width: 60%;
  left: 0px;
}
.note-form.new.header {
  width:  2%;
  text-align: left;
}
.header-icon.delete {
  font-size: 20px;
  color: #232261;
}

.header-icon:hover {
  color: #E11567;
}

.tag-input{
  border: 1px solid #000;
}

.tag-input-form.note-tags{
  position: relative;
  width: 201px;
  top: -40px;
  left: 50px;
}
.tag-input-form.note-tags span {

}
input.tag-input.note-tags {
  vertical-align: middle;
  color: #000;
  font-size: 14px;
  padding: 3px;
  width: 100%;
  border: 1px solid #ccc;
}
