
.notebook-index {
  position: absolute;
  background-color: #FFF;
  left: 73px;
  float: left;
  width: 335px;
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  border-top: 1px solid #D3D3D3;
  z-index: 5;
}

.notebook-index-container {
  position: absolute;
  bottom: 0;
  top: 121px;
  overflow-x: hidden;
  overflow-y: auto;
}

.notebook-index.hidden{
  left: -400px;
}

.notebook-index-header {
  height: 120px;
  width: 335px;
  border-bottom: 1px solid #D3D3D3;
  color: #878787;
  display: inline-block;
  vertical-align: top;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.notebook-index-header p{
  padding-left: 15px;
  padding-top: 15px;
}
.notebook-index-header p:last-child {
  font-size: 12px;
}

.notebook-index-item {
  position: relative;
  height: 120px;
  width: 335px;
  border-bottom: 1px solid #D3D3D3;
  cursor: pointer;
}
.notebook-index-item ul {
  padding: 3px;
}
.notebook-index-item img {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  margin: auto;
}
.notebook-index-item li {
  display: block;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
  padding-left: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  font-weight: 400;
  color: #878787
}
.notebook-index-item button.delete-notebook{
  position: absolute;
  background-image: image_url("wastebasket.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  bottom: 20px;
  left: 20px;
}
.notebook-index-item button.delete-notebook:hover {
  background-image: image_url("wastebasket-hover.svg");
}
.notebook-index-header > a {
  position: absolute;
  top: 100px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.notebook-index-item li:first-child {
  font-size: 16px;
  font-weight: 300;
  padding-top: 5px;
  height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notebook-index-item li:nth-child(2) {
  height: 14px;
}
.notebook-index-item li:nth-child(3) {
  height: 20px;
}

.notebook-edit-form{
position: relative;
}

.tag-input-form.notebook-tags{
position: absolute;
left: 50px;
bottom: -35px;
}

.notebook-tags span{
position: absolute;
left: 0px;
bottom: 25px;
color: #aaa;
font-size: 12px;
}
input.tag-input.notebook-tags {
vertical-align: middle;
color: #000;
font-size: 14px;
padding: 3px;
width: 125px;
border: 1px solid #aaa;
}

.tiny-spinner.notebook-tags{
  position: absolute;
  left: 135px;
  bottom: 5px;
}
