
.note-index {
  z-index: 1;
}

.note-index-container {
  position: absolute;
  bottom: 0;
  top: 121px;
  overflow-x: hidden;
  overflow-y: auto;
}

.note-index.hidden{
  left: -400px;
}

.note-index-header {
  height: 120px;
  width: 335px;
  border-bottom: 1px solid #D3D3D3;
  color: #878787;
  display: inline-block;
  vertical-align: top;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.note-index-header p{
  padding-left: 15px;
  margin-bottom: 2px;
}
.note-index-header p:last-child {
  font-size: 12px;
}

.note-index-item {
  position: relative;
  height: 120px;
  width: 335px;
  border-bottom: 1px solid #D3D3D3;
  cursor: pointer;
}
.note-index-item ul {
  padding: 3px;
}
.note-index-item img {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  margin: auto;
}
.note-index-item li {
  display: block;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
  padding-left: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: #808080scale;
  font-size: 12px;
  font-weight: 400;
  color: #878787
}

.note-index-item li:first-child {
  font-size: 16px;
  font-weight: 300;
  padding-top: 5px;
  height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note-index-item li:nth-child(2) {
  height: 14px;
}
.note-index-item li:nth-child(3) {
  height: 58px;
}
.notebook-label {
  font-size: 14px;
}
