.notes {
}
.note-index {
  display: inline-block;
  float: left;
  width: 335px;
  border-right: 1px solid lightgray;
  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
.note-index.hidden{

  width: 0px;
}

.note-index ul:first-child {
  border-top: 1px solid lightgray;
}

.note-index-item {
  position: relative;
  height: 120px;
  width: 335px;
  border-bottom: 1px solid lightgray;
}
.note-index-item ul {
  padding: 3px;
}
.note-index-item img {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  margin: auto;
}
.note-index-item li {
  display: block;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
  padding-left: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  font-weight: 400;
  color: #878787
}

.note-index-item li:first-child {
  font-size: 16px;
  font-weight: 400;
  padding-top: 5px;
  height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
.note-index-item li:nth-child(2) {
  height 14px;
}
.note-index-item li:nth-child(3) {
  height: 58px;
}


.note-form {
  display: block;
  float: left;
  display: block;
  padding-left: 10px;
  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
.note-form .hidden{
  display: none;
}

.note-form.edit {
    width: 75%;
}
.note-form.new {
    width: 99%;
    text-align: center;
}
.note-form input, textarea {
  width: 60%;
}
.note-form input{
  font-size: 36px;
  color: rgb(45, 190, 96);
  font-weight: 100;
  border: none;
  border-bottom: 1px solid lightgray;
}
.note-form > label {
  display: none;
}
.note-form textarea {
  font-size: 16px;
  height: 200px;
  border: none;
}
