.note-form.header {
  width: 60%;
  height: 50px;
  top: -100px;
  left: 20%;
  padding-top: 30px;
}
.note-form.edit.header {
  width: 60%;
  left: 0px;
}
.note-form.new.header {
  width:  2%;
  text-align: center;
}
.header-icon {
  font-size: 20px;
  color: #232261;
}

.header-icon:hover {
  color: #E11567;
}
