
.note-form {
  display: block;
  position: absolute;
  margin-top: 50px;
  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
}
.note-form .button-container{
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
}
.note-form .cancel-button, .note-form .save-button, .encryption-options button {
  font-size: 13px;
  font-weight: 500;
  height: 28px;
  color: white;
  outline: none;
  border-radius: 4px;
  background-color: #232261;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 16px;
}
.note-form .hidden{
  display: none;
}

.note-form.edit {
    width: 75%;
    left: 425px;

}
.note-form.new {
    width: 99%;
    text-align: center;
}
.note-form input.title, .note-form textarea {
  width: 60%;
  text-align: left;

}

.note-form input.title{
  font-size: 36px;
  color: #232261;
  font-weight: 100;
  border: none;
  border-top: 1px solid #D3D3D3;
}
.note-form label {
  display: none;
}
.note-form textarea {
  font-size: 16px;
  height: 5000px;
  border: none;
}
.save-indicator {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  left: 58%;
  top: 35px;
  background-repeat: no-repeat;
  background-size: contain;
}

.new .save-indicator{
  left: 78%
}

.save-indicator  {
  font-size: 24px;
}
.spinner  {
  color: #232261;
}
.spinner .saving {
  color: #9E1E62;
}
.spinner .dirty {
  color: #C3C3C3;
}

.tiny-mce-box {
  width: 60%;
}
.tiny-mce-box.new {
  margin: auto;
}
.mce-edit-area iframe{
  height: 500px;
}

.encryption-options {
  font-size: 12px;
  position: absolute;
  right: 40%;
  top: -20px;
}
.new .encryption-options{
  right: 20%;

}
.encryption-options button {
  margin: 0;
}

.lock-overlay-bg {
  background-color: #232261;
  height: 100%;
  width: 100%;
}
.lock-overlay-container {
  position: absolute;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 18;

  margin: inherit;
  width: inherit;
}
.lock-overlay {

  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 150px);
  background-color: #D3D3D3;
  text-align: center;
  padding: 50px;
  border-radius: 20px;
  color: #232261;
}
.lock-overlay i {
  font-size: 72px;
}
.lock-overlay input {
  border: 1px solid #232261;
  background-color: #ADD8E6;
  border-radius: 5px;
  font-size: 16px;
  margin: 5px;
  padding: 3px;
}
.delete.lock-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
