html, body, ul, li, div, button,
input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  font: inherit;
  -webkit-font-smoothing: antialiased;

  background: transparent;
}
body {
  font-family: "gotham",helvetica,arial,sans-serif;

}
li, ul {
  list-style: none;
}
.group:after{
  content: "";
  display: block;
  clear: both;
}
input:focus {
  outline: 0;

}
textarea:focus {
  outline: 0;
}
button:focus {
  outline: 0;
}
button {
  outline: 0;
  cursor: pointer;
}
