.modal.sharing-modal {
  width: 600px;
  left: calc(50% - 300px);
}
.share-note-form {
  height: 300px;
  width: 600px;
  text-align: left;
  background-color: #FFF;
}
.share-note-form li {
  display: block;
  position: relative;
  background-color: #fff;
  margin: 3px 0;
  border-radius: 5px;
  padding: 2px;
}
.share-note-form input[type="text"] {
  display: block;

  font-size: 12px;
  padding: 2px 4px;
  border-radius: 5px;
  width: 100%;
  margin: 10px 5px;
}
.add-share {

  position: absolute;
  right: 2px;
  top: 5px;
  cursor: pointer;
  font-size: 16px;
}
.add-share span {
  font-size: 8px;
  position: relative;
  left: -12px;
  top: -2px;
}
.share-note-form p {
  font-size: 10px;
}
.share-note-form i {
  color: #232261;
}
.share-note-form i:hover {
  color: #E11567;
}
.share-note-form p.name {
  font-size: 14px;
}
.share-note-form p.email {
  font-size: 12px;
}
.share-note-form label {
  display: inline;
}
.results-list, .existing-list{
  display: block;
  float: left;
  border-radius: 5px;
  padding: 5px;

}
.share-item-container {
  background-color: #eee;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}
.results-list{
  width: 240px;

}
div.modal div.existing-list {
  width: 335px;
  margin-left: 5px;
}
div.existing-list > h3{
  margin-left: 5px;
}
.search-result-item {
}
