
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 73px;
  border-right: 1px solid #D3D3D3;
  overflow: hidden;
  z-index: 10;
  background-color: #FFF;
}

.sidebar.hidden{
  left: -73px;
}

.sidebar-item {
  display: block;
  position: relative;
  background-color: #2DBE60;
  border-radius: 18px;
  margin: 20px auto;
  width: 36px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: #FFF;
  font-size: 25px;

}

.sidebar-item:hover {
  color: #2DBE60;
  border: 2px solid #2DBE60;
  background-color: transparent;
}
.sidebar-item.logo {
  border: 0;
  background-color: transparent;
  background-image: image_url("logo.png");
}

.sidebar-item.logout{
  position: absolute;
  bottom: 10px;
  left: calc(50% - 18px);
}
.sidebar-item.new-note div {
  font-size: 28px;
  position: absolute;
  left: 8px;
  top: 4px;

}
.sidebar-item.new-note:hover div {
  left: 6px;
  top: 2px;
}
