
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 73px;
  border-right: 1px solid #D3D3D3;
  overflow: hidden;
  -webkit-transition: left 0.25s ease-in-out;
  -moz-transition: left 0.25s ease-in-out;
  -o-transition: left 0.25s ease-in-out;
  transition: left 0.25s ease-in-out;
  z-index: 10;
  background-color: #FFF;
}

.sidebar button{
  color: white;
  clear: both;
}
.sidebar.hidden{
  left: -73px;
}
@font-face {
      font-family: "Bitstream Vera Serif Bold";
      src:url("VeraSeBd.ttf") format('truetype');
}
.sidebar-item {
  display: block;
  position: relative;
  background-color: #2DBE60;
  border-radius: 18px;
  margin: 20px auto;
  width: 36px;
  height: 36px;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  font-size: 20px;
  font-family: "Bitstream Vera Serif Bold";

}
.sidebar-item:hover {
  color: #2DBE60;
  border: 2px solid #2DBE60;
  background-color: transparent;
}
.sidebar-item.logo {
  border: 0;
  background-color: transparent;
  background-image: image_url("logo.png");
}

.sidebar-item.logout{
  position: absolute;
  bottom: 10px;
  left: calc(50% - 18px);
}
.sidebar-item.new-note div {
  font-size: 32px;
  font-weight: bolder;
  position: absolute;
  top: -3px;
  left: 10px
}
.sidebar-item.new-note:hover div {
  top: -5px;
  left: 8px;
}

.sidebar-item.new-note div::before {
  content: "+";
}
.sidebar-item.search div::before  {
  content: "🔎";
}
.sidebar-item.view-notes div::before  {

  content: "📄";
}
.sidebar-item.notebooks div::before  {
  content: "📓";
}
.sidebar-item.logout div::before  {
  content: #128682;
}
